/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 01-oct-2020, 16:28:28
    Author     : josue
*/

*{
    
    margin: 0px;
    padding: 0px;
    
}
body{
   background: url(../imagen/fondo.jpg); 
   background-size: cover;
}
#contenedor1{
    background: #f9f7f7;
    width: 460px;
    height: 370px;
    margin: auto;
    margin-top: 100px;
}
#form1{
    width: 100%;
    padding: 50px 20px 10px 20px;  
    box-sizing: border-box;
}
#contenedor1 h1{
    text-align: center;
    padding-top: 20px;
    color: #566573;
    font-size: 45px;
}
#form1 input[type="text"],
#form1 input[type="password"]{
    border:none;
    background:none;
    width: 90%;
    height: 40px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}
#form1 input[type="submit"]{
    width: 100%;
    height: 60px;
    background: #1b4f72;
    color: #f9f7f7;
    cursor: pointer;
    border: 2px solid #ffffff;
    font-size: 25px;
    font-weight: 900;
}
#form1 input[type="submit"]:hover{
    background: #3498db;
}
#form1 hr{
    margin-bottom: 40px;
    color: #aed6f1;
}
#contenedor2{
    background: #f9f7f7;
    width: 460px;
    height: 140px;
    margin: auto;
    margin-top: 10px;
}
#form2{
    width: 100px;
    padding: 23px 20px 0px 20px;
    box-sizing: border-box;
}
#fomr2 input[type="submit"]{
    width: 100%;
    height: 60px;
    background: #ffffff;
    border:2px solid #ffffff;
    cursor: pointer;
    font-size: 25px;
    color: #1b4f72;
}
#fomr2 input[type="submit"]:hover{
    background: #3498db;
    color: #ffffff;
}
#referencias{
    margin-left: 110px;
    margin-top: 14px;
}
#referencias a{
    padding-left: 10px;
    text-decoration: none;
    color:#1b4f72;
}
img{
    float: left;
}

.rombo {
     width: 100px; 
     height: 100px; 
     border: 3px solid #555; 
     background: #428bca;
     -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
     -ms-transform: rotate(45deg);
     -o-transform: rotate(45deg);
     transform: rotate(45deg);
}
.Circulo {
border-radius:50%;
width: 100px;
height: 100px;
background: #08B;
}